html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

#main-nav {
  background: transparent;
}

section {
  height: 100vh;
}

#home {
  background: url("/img/bg3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-col {
  margin-top: 25%;
}

i {
  color: black;
}

.billede {
  border-radius: 50%;
  width: 25%;
  margin-left: 60%;
  margin-top: -20%;
}
